<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Machine Learning Classification Project</title>
</head>
<body>
    <h1>Machine Learning Classification Project</h1>
    <p>Enter left ventricular ejection fraction (e.g. 55, represents a percent between 1-100) and creatinine levels (e.g. 60.2, represent umol/L) separated by a comma e.g. 55, 60.2</p>
    <form method="POST" action="/predict">
        <label for="input">Enter data to classify:</label>
        <input type="text" name="input" id="input" required>
        <br>
        <button type="submit">Predict</button>
    </form>
</body>
</html>